.profile {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* border: 1px solid thistle; */
  border-radius: 5px;
  box-shadow: 0px 0px 4px 0px rgba(155, 74, 104, 0.48);
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 30px;
  padding-bottom: 30px;
}
.profile {
}

.avatar {
  border-radius: 50%;
}

.name {
  margin-top: 30px;

  font-weight: 500;
}
.tag {
  margin-top: 10px;
  font-size: 12px;
  color: #7c818f;
}
.location {
  margin-top: 10px;
  font-size: 12px;
  color: #7c818f;
}

.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e7e7e7;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f1f1f1;
}
.item:not(:last-child) {
  border-right: 1px solid #e7e7e7;
}

.label {
  font-size: 12px;
  color: #7c818f;
}
.quantity {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 500;
}
